<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Calendar App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'fapp/css/bootstrap.min.css' %}" />
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
  </head>
  <body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <div class="container">
        <a href="/" class="navbar-brand"><img class="navbar-brand" style="vertical-align: middle; width: 50px; height: 60px; border-radius: 50%;" src="https://scontent.fbkk20-1.fna.fbcdn.net/v/t1.0-9/17264397_1268559613199981_1323680428453274746_n.jpg?_nc_cat=105&_nc_ht=scontent.fbkk20-1.fna&oh=3d534304c8cc82c6e788162bd3761038&oe=5D1FCF77" alt="logo"> Integration App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="fapp">f(x)</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="integrate">integrate</a>
            </li>
          </ul>

          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="https://www.facebook.com/ComputerScienceUBU/" target="_blank">@ComputerScienceUBU</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.ubu.ac.th/" target="_blank">UBU</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
    {% block content %}

    {% endblock %}
  </body>
</html>
