{% extends 'fapp/base.html' %}
{% block content %}
<div class="container" style="height: 100px;"></div>
<div class="container">
  <div class="bs-component">
    <div class="card border-info mb-12">
      <div class="card-header">$$ y = e^{x \cdot sin(2 \cdot x)} $$</div>
      <div class="card-body">
        <p class="card-text">
          <form class="form-inline" action="/fapp" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="x">$$ x $$ = </label>
              <input type="text" class="form-control" id="x" name="x" value="{{x}}">
            </div>
            <button type="submit" class="btn btn-outline-success">คำนวณ</button>
          </form> 
        </p>
        <h4 class="card-title">$$ x = {{ x }}, y = {{ result }}$$</h4>
      </div>
    </div>
  </div>
</div>
{% endblock %}
