{% extends 'fapp/base.html' %}
{% block content %}
<div class="container" style="height: 100px;"></div>
<div class="container">
  <div class="bs-component">
    <div class="card border-info mb-12">
      <div class="card-header">$$ \int_{a}^{b} e^{x \cdot sin(2 \cdot x)} dx $$</div>
      <div class="card-body">
        <p class="card-text">
          <form class="form" action="/integrate" method="POST">
            {% csrf_token %}
            <div class="form-group form-inline">
              <label for="x">$$ n $$ = </label>
              <input type="text" class="form-control" id="n" name="n" value="{{ n }}">
              <span>จำนวนสี่เหลี่ยมคางหมู (trapezoid) ที่ต้องการแบ่ง</span>
            </div>
            <div class="form-group form-inline">
              <label for="x">$$ a $$ = </label>
              <input type="text" class="form-control" id="a" name="a" value="{{ a }}">
              <label for="x">$$ b $$ = </label>
              <input type="text" class="form-control" id="b" name="b" value="{{ b }}">
              <span>ค่าเริ่มต้น - ค่าสิ้นสุด</span>
            </div>
            <div class="form-group form-inline">
              <label for="x">$$ h $$ = </label>
              <input type="text" readonly="" class="form-control" id="h" name="h" value="{{ h }}">
              <span>ความกว้างของสี่เหลี่ยมคางหมู (trapezoid)</span>
            </div>
            <button type="submit" class="btn btn-outline-success">พื้นที่ใต้กราฟ</button>
          </form> 
        </p>
        <h4 class="card-title">พื้นที่ใต้กราฟโดย trapezoidal rule : {{ area }}</h4>
      </div>
    </div>
  </div>
</div>
{% endblock %}
